*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
}

body {
  line-height: 1.3;
  -webkit-font-smoothing: antialiased;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

input,
button,
textarea,
select {
  font: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

p {
  text-wrap: pretty;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  text-wrap: balance;
}

#root,
#__next {
  isolation: isolate;
}

@font-face {
  font-family: 'Norse-Bold';
  src: url(resources/Norse-Bold.otf);
}

@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

a {
  color: #fff;
}

body {
  background-color: rgb(255, 255, 255);
}

.main {
  display: flex;
  height: 100vh;
  margin: 0 auto;
}

.background {
  background-image: url(resources/halie-west-25xggax4bSA-unsplash.jpg);
  background-position: center;
  background-size: cover;
  flex: 1;
  color: #fff;
  display: flex;
  flex-direction: column;
}

.logo-container {
  position: relative;
  top: 150px;
  font-size: 46px;
  font-family: 'Norse-Bold';
  display: flex;
  background-color: rgba(0, 0, 0, 0.4);
  justify-content: center;
  padding: 1rem;
}

.logo-container img {
  height: 3em;
}

.photo-credit {
  margin-top: auto;
  align-self: center;
  padding: 1rem
}

.content {
  flex: 2;
  height: 70vh;
  margin: auto 0;
  background-color: #F9FAFB;
}

.header-text {
  font-size: 1.4em;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 600;
  padding: 0 40px;
}

.header-text p:last-child {
  margin: 20px 0 40px;
}

label, input {
  display: block;
}

.form {
  display: flex;
  flex-direction: column;
  gap: 20px;
  background-color: #fff;
  box-shadow: 1px 3px 12px 2px rgba(0,0,0,0.1);
  color: #1F2937;
  padding: 20px 40px;
  font-family: "Roboto";
}

.form-row {
  display: flex;
  gap: 100px;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-size: 13px;
  font-weight: 500;
}

.form-row input {
  border: 1px solid #E5E7EB;
  font-size: 16px;
  padding: 3px 5px;
  border-radius: 2px;
}

input:focus {
  border: 1px solid #34609f;
  box-shadow: 1px 3px 12px 2px rgba(0,0,0,0.1);
  outline: none;
}

input:invalid {
  border: 1px solid #d11919
}

.btn {
  background-color: #596D48;
  padding: 10px 40px;
  font-family: "Roboto";
  color: #fff;
  font-weight: 500;
  font-size: 18px;
  border-radius: 5px;
  border: none;
  margin: 20px 40px;;
}

.login {
  padding: 0 40px;
  font-size: 17px;
  font-weight: 500;
  font-family: "Roboto";
}

.login a {
  color: #596D48;
  text-decoration: none;
}